{% extends 'tapasapp/base.html' %}
{% load static %}

{% block content %}

<div class="col-md-6 offset-md-3">
    <h3 class="text-center mb-4">Change Password</h3>
    {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="current">Current Password</label>
            <input type="password" name="current" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="new1">New Password</label>
            <input type="password" name="new1" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="new2">Confirm New Password</label>
            <input type="password" name="new2" class="form-control" required>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Confirm</button>
            <a href="{% url 'manage_account' pk=account.pk %}" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
</div>

  {% endblock %}
  